# Windows
Thumbs.db
*.exe
*.dll
*.pdb
publish/
[Bb]in/
[Oo]bj/
*.user
*.suo
.vs/

# macOS
.DS_Store
*.xcuserstate
xcuserdata/
build/
DerivedData/

# JetBrains
.idea/
*.sln.iml

# Node
node_modules/

# Publish output
**/publish/

# NuGet
**/packages/

# Temporary
*.tmp
*.log
